<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-header collapse="condense">



  </ion-header>

  <ion-content>

    <ion-list>
      <ion-item>
        <ion-label position="floating" type="usuario"> Usuario </ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" type="password"> Senha </ion-label>
        <ion-input type="text" [(ngModel)]="user.senha"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="logar('dashboard')">Acessar</ion-button>

    <ion-item>
      <ion-label>Ainda não é cadastrado?</ion-label>
    </ion-item>
 
    <ion-button expand="block" (click)="cadastrar('cadastro')">Cadastro</ion-button>



  </ion-content>

</ion-content>